<!DOCTYPE html>
<html>
  <head>
    <title>Sticky</title>

    <meta charset='utf-8' />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="shortcut icon" href="/img/favicon.png">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/mobile/Icon-114@2x.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/mobile/Icon-72@2x.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

     <link rel="apple-touch-startup-image" href="/img/mobile/splash.png" />

    <script type="text/javascript" src="https://use.typekit.com/yii1iog.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta http-equiv="cleartype" content="on">

    <%- css('mobile') %>
  </head>
  <body>
    <div class="sidetap">
      <div class="stp-nav">
        <div>
          <nav>
              <input type="text" placeholder="Discover" />
              <a href="#" onclick="window.location.href='/'">All Notes</a>
              <b>Notebooks</b> 
              <% for(var i=0; i<notebooks.length; i++) { %>  
                <a href="#" class="query" data-param="notebooks" data-param-val="<%= notebooks[i].name %>">@<%= notebooks[i].name %></a>
              <% } %>

              <b>Tags</b>
              <% for(var i=0; i<tags.length; i++) {  %> 
                <a href="#" class="query" data-param="tags" data-param-val="<%= tags[i]._id %>">#<%= tags[i]._id %></a>
              <% } %>
          </nav>
        </div>
      </div>

      <div class="stp-content" id="content">
        <header class="stp-fake-header">&nbsp;</header>
        <div class="stp-overlay nav-toggle">&nbsp;</div>

        <!-- Content Divs Look Like This -->
        <div class="stp-content-panel" id="notes-list">
          <header>
            <a href="javascript:void(0)" class="header-button icon menu"><span>Menu</span></a>
            <div class="logo">STICKY</div>
            <a href="javascript:void(0)" class="header-button icon compose right"><span>Info</span></a>
          </header>
          <div class="stp-content-frame">
            <div class="stp-content-body">
              <div id="stage">
                <!-- content gets loaded here -->
              </div>
            </div>
          </div>
        </div>
        <!-- End content Div -->

        <!-- Compose new note -->
        <div class="stp-content-panel hidden" id="new-note">
          <header>
            <a href="javascript:void(0)" class="header-button cancel">Done</a>
            <h1 class="reduce">What's on your mind?</h1>
            <a href="javascript:void(0)" class="header-button save right">Save</a>
          </header>

          <div class="stp-content-frame">
            <div class="stp-content-body">
              <div class="container">
                <textarea placeholder="Use @ for notebooks and # for tags"></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- End content Div -->

        <!-- Compose new note -->
        <div class="stp-content-panel hidden" id="show-note">
          <header>
            <a href="javascript:void(0)" class="header-button cancel">Done</a>
            <div class="logo">STICKY</div>
            <a href="javascript:void(0)" class="header-button save right">Save</a>
          </header>

          <div class="stp-content-frame">
            <div class="stp-content-body">
              <div id="expanded-view" class="container">
                <!-- content gets loaded here -->
              </div>
            </div>
          </div>
        </div>
        <!-- End content Div -->

      </div>
    </div>

    <!-- Notes -->
    <%- partial('../notes') %>

    <!-- socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Load JS -->
    <%- js('mobile') %>

    <script>
      if(Modernizr.touch) {
          //MBP.standaloneLinks(document, window.navigator, 'standalone');
          MBP.hideUrlBarOnLoad();
      }
      //
      // Config
      config = {
        domain : '<%= config.domain %>'
      }

      //
      // Set Defaults
      window.notebooks    = <%- JSON.stringify(notebooks) %>
      window.current_user = <%- current_user %>
      window.socket       = io.connect(config.domain)
    </script>

  </body>
</html>