<%- partial('header') %>
	<div class="backdrop"></div>

  <div id="new-sticky-header">
		<form action="/notes" method="post">	
    	<input type="text" name="message" placeholder="What's on your mind?"/>
		</form>
    <div class="logo">STICKY</div>
  </div>

	<div class="faux-hidden-top"></div>

  <div class="main-wrapper container-fluid">
    <div id="main">
      <!--
		  {{#if error}}<div class="alert alert-error">{{error}} <a class="close" data-dismiss="alert" href="#">×</a></div>{{/if}}
		  {{#if success}}<div class="alert alert-success">{{success}} <a class="close" data-dismiss="alert" href="#">×</a></div>{{/if}}

		  <div class="crumb-bar">
      </div>
      -->

      <div id="sidebar">
				<div class="profile">
					<i id="gravatar"><img src="http://profiles.google.com/s2/u/0/photos/profile/<%= req.user.googleId %>?sz=32" /></i>
					<div class="details">
						<div><%= req.user.email %></div>
						<a href="/logout">Logout</a>
					</div>
				</div>

				<ul class="sidebar-nav">
					<% for(var i=0; i<notebooks.length; i++) { %>	
						<li>
							<a href="/notes?notebooks=<%= notebooks[i].name %>" class="navigate">@<%= notebooks[i].name %></a>
							<a href="/notebooks/<%= notebooks[i]._id %>/edit" class="push"><i class="icon-user"></i></a>
						</li>
					<% } %>
					<li class="add-notebook"><a href="/notebooks/new" class="push">Add a Notebook</a></li>
				</ul>
				
				<div class="date-picker"></div>
      </div>

			<div id="inbox">
				<div class="inbox-controls">
					<div class="btn-toolbar">
						<div class="btn-group">
							<a href="/notes" class="btn navigate"><i class="icon-home"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn" href="#"><span class="icon-pound">#</span> <span class="tag-label">Tag</span></a>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<% for(var i=0; i<tags.length; i++) {  %>	
									<li><a href="/notes?tags=<%= tags[i]._id  %>" class="navigate"><%= tags[i]._id  %></a></li>
								<% } %>
							</ul>
						</div>
						<div class="btn-group">
							<a href="/notes?order=desc" class="order btn" data-direction="desc"><i class="icon-chevron-down"></i></a>
							<a href="/notes?order=asc" class="order btn" data-direction="asc"><i class="icon-chevron-up"></i></a>
						</div>
						
						<div class="search pull-right">
							<form action="/notes" method="get" class="navbar-search">
								<input type="text" name="keyword" class="search-query" placeholder="Discover">
							</form>
						</div>
					</div>
				</div>	
				<div id="stage">
					<!-- content gets loaded here -->
				</div>
			</div>

			<div id="expanded-view">
				<!-- content gets loaded here  -->
			</div>
		
			</div>
    </div>
  </div>
	
	<div class="faux-hidden-bottom"></div>

	<div id="delete-note" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">&times;</a>
			<h3>Trash Note</h3>
		</div>
		<div class="modal-body">
			<p>You are about to delete this note.</p>
			<p>Do you want to proceed?</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn danger">Yes</a>
			<a href="javascript:$('#delete-note').modal('hide')" class="btn secondary">No</a>
		</div>
	</div>

	<!-- Notebooks -->

	<div id="add-notebook" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">&times;</a>
			<h3>Add Notebook</h3>
		</div>
		
		<form action="/notebooks" method="post">
		<div class="modal-body">
			<label>Notebook name</label>
			<input type="text" placeholder="Enter notebook name e.g. @work" name="name" />
			<div class="hide">
				<label>Members</label>
				<textarea placeholder="Enter email addresses of group members" name="members"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn primary">Add</button>
			<a href="javascript:$('#add-notebook').modal('hide')" class="btn secondary">Cancel</a>
		</div>
		</form>
	</div>


	<div id="edit-notebook" class="modal hide fade">
		<!-- content gets loaded here -->
	</div>


<%- partial('notebooks') %>
<%- partial('notes') %>
<%- partial('footer') %>
